<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labs.josemanuel.reportcenter">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">

        <!-- actividad principal NUEVA-->
        <activity
            android:name=".ui.actividades.MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            >
        </activity>
            <!-- android:theme="@style/AppTheme.NoActionBar"> -->

        <!-- Actividad ActividadListaPropuestas Primer Recycler Old-->
        <!--
                <activity
                    android:name=".ActividadListaPropuestas"
                    android:label="@string/app_name"
                    android:theme="@style/AppTheme.NoActionBar"></activity>
        -->


        <!-- Actividad Login -->
        <activity
            android:name=".ui.actividades.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Actividad Actualizar -->
        <activity
            android:name=".ui.actividades.UpdateActivity"
            android:label="@string/title_activity_update"
            android:parentActivityName=".ui.actividades.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.actividades.DetailActivity" />
        </activity>

        <!-- Actividad Detalle -->
        <activity
            android:name=".ui.actividades.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.actividades.MainActivity"
            >
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.actividades.MainActivity" />
        </activity>

        <!--Actividad Insertar -->
        <activity
            android:name="com.labs.josemanuel.reportcenter.ui.actividades.InsertActivity"
            android:label="@string/title_activity_insert"
            android:parentActivityName=".ui.actividades.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.actividades.MainActivity" />
        </activity>


        <!-- Provider - mismo valor para AUTORIDAD en la clase contrato -->
        <provider
            android:name=".provider.ProviderPropuestas"
            android:authorities="com.labs.josemanuel.reportcenter"
            android:enabled="true"
            android:exported="false" />


    </application>

</manifest>